/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

main {
}

section {
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

/* Execute as seguinte estilizações para todo o corpo da página
Aumentar o tamanho da fonte;
Diminuir o tamanho da fonte dos elementos h1 e h2; – Definir uma margem para esses elementos;
Aumentar o espaçamento entre as figuras;
Adicionar um pouco de margin na página. */
@media screen and (min-width: 768px) {
  body {
    font-size: larger;
    text-align: center;
  }
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: x-large;
  }
  img {
    margin: 15px 15px;
    width: 250px;
  }

  /* Centralize os elementos article;
Faça as imagens serem mostradas em mais de uma coluna. */
  article {
    margin: 0 15%;
  }
  section {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Faça outro breakpoint para telas grandes, como desktops. Ao consultar a tabela com os tamanhos, percebemos que a largura mínima para essa dimensão seria de 992px:
Crie uma nova media query no seu arquivo CSS usando a dimensão para telas de desktop, defina a largura minima como 992px;
Altere a cor de fundo;
Ajuste as margens da página;
Adicione a propriedade max-width à página, para garantir que a largura das linhas não fiquem muito grande. */
@media screen and (min-width: 992px) {
  body {
    background-color: antiquewhite;
    max-width: 90%;
  }
  section {
    justify-content: center;
  }
}
