/* Set Mario above the Goomba.

Set Bowser to the right of the Goomba.

Set the balloon so that it becomes Bowser's speech.

Set the p-tag text so that it is inside the speech bubble. */
.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  margin: 300px 0 0 50px;
}

.baloon {
  position: absolute;
  width: 200px;
  margin: 200px 0 0 300px;
  z-index: -1;
}

.speach {
  font-size: 25px;
  position: absolute;
  width: 150px;
  margin: 230px 0 0 330px;
}

.bowser {
  width: 200px;
  position: absolute;
  margin: 280px 0 0 500px;
}
