/* Make all Ordered List items have a yellow background color. If item numbering is EVEN, make the font color green. If the number is considered ODD, use the text-transform property to make the text uppercase. (Hint: combining classes can be useful here).

Make all Header tags (h1, h2…) have red font color, if any of them are italicized, increase their size to 40px and add a solid black 1px border.

Make all li's 20px font size, and for all italicized text within any li, use the font-weight property to make it bold.

In the list of programming languages, make the first 3 of the list have a blue font color and, if any have “java*” in the text, use a pink background color.

(Bonus) For each link in the developer person's allies list, make hovering over each link make the text bold and take on the “site-themed” font color. */
ol > li {
  background-color: yellow;
}

ol > li:nth-of-type(even) {
  color: green;
}
ol > li:nth-of-type(odd) {
  text-transform: uppercase;
}

h1,
h3 {
  color: red;
}

li {
  font-size: 20px;
}

ul.linguagem > li:nth-of-type(1) {
  color: blue;
}
ul.linguagem > li:nth-of-type(2) {
  color: blue;
}
ul.linguagem > li:nth-of-type(3) {
  color: blue;
}

ul li.java {
  background-color: pink;
}

ul.aliados > li:hover {
  font-weight: bold;
}

ul.aliados > li:nth-of-type(1) > a:hover {
  color: orangered;
}
ul.aliados > li:nth-of-type(2) > a:hover {
  color: green;
}
ul.aliados > li:nth-of-type(3) > a:hover {
  color: black;
}
ul.aliados > li:nth-of-type(4) > a:hover {
  color: yellow;
}
ul.aliados > li:nth-of-type(5) > a:hover {
  color: rgb(33, 240, 26);
}

h1,
h3 > .italico {
  font-size: 40px;
  border: 1px solid black;
}

li > .italico {
  font-weight: bold;
}
