h1,
p {
  text-align: center;
}

li:hover {
  background-color: rgb(206, 119, 119);
}

li:active {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul,
ol {
  list-style: none;
}
