* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5c687c;
  display: flex;
}

/* Adicione uma propriedade flex-basis aos containers:
Do logotipo com o tamanho de 268px;
Do container do menu com o tamanho de 500px. */
.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px;
  order: -1;
}

/* Utilize a propriedade align-self no elemento correto. */
.menu-container {
  display: flex;
  flex-basis: 500px;
  flex-grow: 1;
  align-self: center;
}

/* Adicione uma propriedade Flexbox que faça o container do menu crescer, quando houver espaço disponível. */
.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

/* Adicione uma propriedade ao seu container de filmes para que ele tenha uma base de 700px. Também adicione para os elementos filhos do seu card uma base de 16%. Deve ficar similar à imagem abaixo: */
.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px;
  flex-grow: 10;
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

/* No container de filmes aplique uma propriedade para expandi-lo, essa propriedade deve ter o valor 10. Deve ficar similar à imagem abaixo: */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* faça com que suas div do container de filmes ocupe todo o espaço em branco. */
.card-container div {
  align-items: center;
  background-color: #5c687c;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  flex-basis: 16%;
  align-self: stretch;
  flex-grow: 1;
}

/* Aplique no seu container aside uma base de 350px. */
.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-basis: 350px;
  flex-grow: 1;
  align-self: center;
}

/* Nos elemento aside, centralize e expanda seu conteúdo. Seu aside deve apresentar o seguinte comportamento: */
.aside-container h3,
h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}
